.DS_Store
Config.log
ConnectionStatus.txt
Events.ini
GameVersion.txt
UserData.lock
accountDataDB.package
avatarcache.package
cache/
cachestr/
cachewebkit/
clientDB.package
content/
houseDescription-client.package
localsimtexturecache.package
localthumbcache.package
onlinethumbnailcache/
